@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0c0c0e;
  --foreground: #ececec;
}

body {
  background: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


